html {
    margin: 0;
    image-rendering: -moz-crisp-edges;          /* Firefox                        */                      */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    font-family: 'Squada One', cursive;
}

#main {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 100vh;
    background: white;
}
#canvas {
    position: absolute;
    background: url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    z-index: 2;
    transition: box-shadow 0.75s;
}
#start-menu {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 3;
    border-radius: 2px;
    transition: all 0.75s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#bg-image {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: -20px;
    filter: blur(10px);
}
#start-button {
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    background: white;
    outline: none;
    border-radius: 2px;
    font-size: 1.5em;
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
}