html {
    margin: 0;
}

body {
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

#main {
    position: fixed;
    width: 800px;
    height: 100vh;
    background: white;
}
#canvas {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 2;
}
#start-menu {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: red;
    z-index: 3;
}

label {
    display: block;
}