html {
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}

#main {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 100vh;
    background: white;
}
#canvas {
    position: absolute;
    background: url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 2;

    image-rendering: -moz-crisp-edges;          /* Firefox                        */                      */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
}
#start-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: red;
    z-index: 3;
}
#start-button {
}

label {
    display: block;
}